<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [value]="produto.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                [value]="produto.preco" name="preco" disabled>
        </mat-form-field>
    </form>
    <button (click)="deletarProduto()" mat-raised-button color="warn">
        Excluir
    </button>
    <button (click)="cancelar()" mat-raised-button>
        Cancelar
    </button>
</mat-card>
